@media only screen and (min-width: 992px) {
	.conclusion{
		padding-left: 10%;
	}

	.dog{
		margin-bottom: 0;
		overflow: visible;
	}

	.doghero{
		width: 90%;
		position: relative;
	}

	.home__image{
		width: 100%;
		border-radius: 5%;
	}

	.main{
		padding: 0;
	}

	.paragraph__text{
		width: 50%;
	}

	.picture{
		padding: 5%;
		width: 80%;
	}

	.section__container{
		display: flex;
		flex-direction: row;
	}

	.section__container_two{
		display: flex;
		flex-direction: row-reverse;
	}

	ul.testimonials{
		display:flex;
		flex-direction: row;
	}

	.testimonial{
		display: flex;
		width: 33.3%;
		flex-direction: column;
	}

	ul{
		display: flex;
	}

	.text{
		padding-left: 5%;
	}

	.text__container{
		width: 60%;
    	padding: 5% 10%;
		flex-direction: column;
	}

	.text__container__two{
		width: 60%;
    	padding: 5% 5% 5% 10%;
		flex-direction: column;

	}

	.two{
		padding-left: 10%;
		padding-right: 0;
	}
	
}