@media only screen and (min-width: 992px) {
	.about{
		width: 65%;
	}

	.ctr_button{
		display: flex;
		justify-content: center;
		 padding-bottom: 80px;
	}

	.conclusion{
		text-align: center;
	}


	.desktop__header{
   		 display: initial;
	}

	.dog{
		margin-bottom: 0;
		overflow: visible;
		width: 55%;
	}

	.doghero{
		width: 90%;
		position: relative;
		 margin-left: 0;
	}
	.full_page_headline{
	margin-top: 50px;
	}
	.home__image{
		width: 100%;
		border-radius: 5%;
	}

	.list{
		display: flex;
		flex-direction: row;
		max-width: 1200px;
		justify-content: space-between;
	}

	.main{
		padding: 0;
		display: flex;
		justify-content: center;
	}

	.mobile__header{
   		 display: none;
	}
	.paragraph__text{
		width: 50%;
	}

	.paw1{
		top: 1px;
		left: -10px;
	}

	.paw2{
		bottom: 33px;
    	left: 373px;
		width: 20%;    	
	}

	.paw3{
		top: 61px;
    	right: 470px;
	}

	.paw4{
		left: 30px;
    	top: -18px;
	}

	.picture{
		width: 50%;
	}

	.picture_fullpage{
		width: 95%;
 		height: 450px;
 		overflow: hidden;
 		border-radius: 5%;
 		margin: 0 auto;
	}

	.picture_fullpage_about{
		width: 80%;
 		height: 550px;
 		overflow: hidden;
 		border-radius: 5%;
 		margin: 0 auto;

	}

	.pictureThird_container{
		width: 30%;
		display: flex;
		flex-direction: column;
	}

	.pictureThird_mask{
		height: 230px;
    	overflow: hidden;
    	border-radius: 5%;
	}

	.purpleGradient{
    background-image: linear-gradient(to left, #6b5f8a
	, #aea7be);
	}


	.section__container, 
	.section__container_two,
	.sectionThird{
		margin: 3rem 0;
		display: flex;
		flex-direction: row;
		max-width: 1200px;
		justify-content: space-between;
		align-items: center;
	}
	.section__container--two {
		flex-direction: row-reverse;
	}
	.section__container_two{
		flex-direction: row-reverse;
	}

	.section__column{
		display: flex;
		flex-direction: column;
		margin: 2% 12%;
	}

	.section__row{
		display: flex;
		flex-direction: row;
	}

	.top_padding_zero{
		margin-top: 0;
	}

	ul.testimonials{
		display:flex;
		flex-direction: row;
		max-width: 1200px;
		justify-content: space-between;

	}

	.testimonial{
		display: flex;
		width: 30%;
		flex-direction: column;
	}

	.text_container{
		padding-top: 50px;
		margin-left: 12%;
	}

	ul{
		display: flex;
	}

	.text{
		padding-left: 0;
	}
	.text__container{
		width: 40%;
		flex-direction: column;
	}

	.test__header{
		padding: 50px 0 0 60px;
	}

	.third__container{
		width: 30%;
	}
}