@media only screen and (min-width: 688px){

.paw1{
	top: 700px;
}


}
@media only screen and (max-width: 760px) {
/* Force table to not be like tables anymore */
tbody{
	display: block;
	width: 100%;
}

thead tr{
	display:block;
  }

}

@media only screen and (min-width: 992px) {

	.header__nav a:hover,
	.header__nav a.active,
	.header__nav a:active{
		color: #fff;
		background-color: #060606;
	}

	.header {
		padding: 0;
		justify-content: center;
	}

	.header__wrap {
		max-width: 1200px;
	}

	.about{
		width: 100%;
		margin-top: 0;
		padding-left: 20px;
	}

	.button_parent{
		padding-top: 20px;
	}

	.header__nav a.cta{
	    border: solid;
	    color: #ffffff;
	}

	.ctr_button{
		display: flex;
		justify-content: center;
		padding-bottom: 80px;
	}

	.column2x{
		padding-bottom: 20px;
	}

	.conclusion{
		text-align: center;
	}

	.custompad{
		display: flex;
		width: 100%;
		justify-content: center;
	}


	.hundredWidth{
		display: initial;
         border-radius: 5%;
	}

	.dog{
		padding-top: 3em;
		margin-bottom: 0;
		overflow: hidden;
		height: 550px;
	}

	.dog_desktop{
		    display: initial;
    		position: absolute;
    		bottom: 0;
   			 width: 100%;
    		  left: 0;
	}

	.dog_mobile{
		display: none;
	}

	.doghero{
		max-height: 650px;
	}

	.dog_large{
		display: flex;
		position: absolute;
		bottom: 0;
		left: 0;
		max-width: 1200px;
		transform: translate(-85%, 0);
		overflow: visible;
	}

	.doghero--flipped{
		transform: scaleX(-1);
	}

	.extra_width{
		width: 100%;
	}

	.fas.fa-bars{
	display: none;
	}

	.FAQ_container{
			width: 70%;
	}



	.fifty{
	width: 50%;

	}

	.flex_parent{
		display: flex;
		flex-direction: row-reverse;
		width: 1200px
	}

	.flex_parent-2{
		display: flex;
		flex-direction: row;
		width: 1200px;
		margin: 0 auto;
	}

	.footer_container{
		display: flex;
		flex-direction: row;
		align-items: center;
		color: #aca9a9;
		max-width: 1200px;
		justify-content: space-between;
	}


	.forty_container{
		width: 100%;
   		 max-width: 1200px;
   		 display: flex;
    	justify-content: flex-end
	}

	.front_page_container{
    display: flex;
    max-width: 1200px;
    min-height: 625px;
}

	.full_page_container{
		padding: 100px;
	}

	.full_page_headline{
		padding-top: 90px;
	    font-size: 2.5em;
	}

	.full_page_headline--noPadding{
		font-size: 2.5em;
	}

	.fullText{
    width: 60%;
	}

	header{
		overflow: hidden;
	}

	.hide{
		display: revert;
	}

	.header__nav.hidden{
		position: relative;
		min-height: auto;
		padding-top: 0;
		flex-direction: row;
		display: flex;
		justify-content: flex-end;
		background-color: #393939;
	}

	.header__nav a{
		padding: 5px 20px;
		margin-right: 20px;
		color: #a5a7a6;
		border: solid transparent;
	}


	.negMarginTop{
		margin-top: -100px;
	}


img{
    border-radius: 5%;
}

.image{
    margin: 50px 0 50px 200px;
}

.halfPage__pic{
	display: initial;
	max-height: 500px;
	border-radius: 5%;
}

.halfpic{
	margin-top: 60px;
    display: initial;
    max-height: 650px;
}

	.flex{
		display: flex;
		flex-direction: row;
		max-width: 1200px;
		width:100%;
	}


	.home__image{
		width: 100%;
		border-radius: 5%;
	}

	.list{
		display: flex;
		flex-direction: row;
		max-width: 1200px;
		justify-content: space-between;
	}

	.main, .mainHome{
		padding: 0px 0px 30px 0px;
		display: flex;
		justify-content: center;

	}

	.main--top-margin{
		padding-top: 3rem;
	}

	.margin__Bottom__Small{
		margin-bottom: 10px;
	}

	.max_width{
		max-width: 1200px;
		display: flex;
		justify-content: center;
	}

	.negmargin{
		margin-left: 0;
	}


.padSeventyFive{
	padding-top: 75px;
}
	.no_padding{
		padding-left: 0;
	}

	.padding_left-small{
		padding-left: 0;
	}

	.padding_left-med{
		width: 50%;
	    padding-left: 40px;
	    padding-right: 20px;
	    margin-bottom: 0;
	    justify-content: space-between;
	    width: 50%;
	}

	.padding_left-large{
		padding-left: 60px;
		padding-right: 20px;
	}

	.paragraph__text{
		width: 50%;
	}

	.paw1{
		top: 70px;
    	left: 650px
	}

	.paw2{
		display: initial;
		position: absolute;
		bottom: 33px;
		left: 373px;
		width: 20%;
	}

	.paw3{
		    top: 40px;
				 right: 400px;
	}

	.paw4{
		left: -30px;
   		 top: -31px;
	}

	.paw5{
	    top: 680px;
    left: 174px;
	}

	.picture{
		width: 50%;
	}

	.picture_fullpage{
		width: 100%;
			height: 450px;
			overflow: hidden;
			border-radius: 57px;
			margin: 0 auto;
			max-width: 1200px;
			padding-top: 20px;
	}

	.picture_fullpage_about{
		padding-top: 100px;
		width: 70%;
			overflow: hidden;
			border-radius: 5%;
			margin: 0 auto;
	}

	.pictureThird_container{
		width: 30%;
		display: flex;
		flex-direction: column;
	}

	.pictureThird_mask{
		height: 230px;
		overflow: hidden;
		border-radius: 5%;
	}

	.purpleGradient{
		background-image: linear-gradient(to left, #6b5f8a, #aea7be);
	}

	.row,
	.row_container,
	.right{
		display: flex;
	}

	.right {
		justify-content: flex-end;
	}

	.row2 {
		padding-right: 40px;
		flex-direction: column;
	}

	.section__container,
	.section__container_two,
	.sectionThird{
		margin: 3rem 0;
		display: flex;
		flex-direction: row;
		max-width: 1200px;
		justify-content: space-between;
		align-items: center;
	}

	.section__container--two {
		flex-direction: row-reverse;
	}

	.section__container_two{
		flex-direction: row-reverse;
	}

	.section__container_two--no_margin{
		margin-bottom: 0;
	}

	.section__column{
		display: flex;
		flex-direction: column;
	}

	.section__column--two{
		display: flex;
		flex-direction: column;
		z-index: 2;
		padding-left: 100px;
	}

	.section__row{
		display: flex;
		flex-direction: row;
		max-width: 1200px;
	}

	.section__row--2x{
		display: flex;
		flex-direction: column;
		padding-top: 0;
		max-width: 1200px;
	}

	.sixty{
		width: 70%;
		padding-left: 0;
		margin: 0 auto;
	}

	.space_around{
		display: flex;
		flex-direction: row;
		width: 700px;
		justify-content: flex-start;
	}

	.space__between{
		display: flex;
    	justify-content: space-between;
	}


	.space__around-2{
		display: flex;
		justify-content: space-around;
	}
	.space_top{
		padding-top: 4em;
	}

	.top_padding_zero{
		margin-top: 0;
	}

	#testimonials{
		display:flex;
		flex-direction: row;
		max-width: 1200px;
		justify-content: space-between;
		padding-left: 20px;
	}


	.testimonial{
		display: flex;
		width: 100%;
		flex-direction: column;
		padding-right: 50px;

	}

	.testimoial:last-of-type{
		padding-right: 0;
	}

	.text_container{
		padding-top: 50px;
		margin-left: 12%;
	}

/*	ul{
		display: flex;
	}
*/
	.text{
		padding-left: 0;
	}
	.text__container{
		width: 100%;
		flex-direction: column;
	}

	.text__container__forty{
		margin-top: 30px;
		width: 45%;
		flex-direction: column;
	}

	.test__header{
	padding: 50px 0 20px 40px;
	margin-bottom: 0;
	}

	.third, .third2{
	width: 33.3%
}
	.third__container{
		width: 33.3%;
		padding-right:70px;
	}

	.under_headline{
		margin-bottom: 20px;
	}

	.whitebg{
		height: 420px;
	}

	.whitebg:after{
		background: white;
		border-radius: 5%;
		opacity: 75%;

	}
	.fcf-body{
		padding-top: 0;
	}


@media only screen and (min-width: 1300px){

	.paw1{
		left: 890px
	}

	.paw5{
		left: 800px;
	}


}
