*{
	box-sizing: border-box;
}


body{
	font-size: 1em;
	color: white;
	font-family: "Open Sans", sans-serif;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.button_parent{
    padding: 20px 0;
}

.centerText{
    padding-bottom: 20px;
    text-align: center;
}

.conclusion{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

container{
    max-width: 1200px;
}


.copy{
	line-height: 1.5em;
	padding-bottom: 20px;
    margin-bottom: 0;
}



.cta__button{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: bolder;
    text-decoration: none;
    border: 3px solid  #FFFFFF;
    padding: 5px 10px;
    border-radius: 5px;
    display: block;
    width: 220px;
    color: #F1EFFF;
    line-height: 30px;
    }

.cta__button__orange{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: bolder;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    display: block;
    width: 220px;
    background-color: #FF9727;
    color: white;
    line-height: 30px;
}

.desktop__header{
    display: none;
}

.dog{
    position: relative;
    overflow: hidden;
    height: 375px;
}

.doghero{
    position: absolute;
    width: 100%;
    margin-left: 10%;
}

.fab.fa-instagram{
    font-size: 2em;
    text-decoration: none;
    color: #ffffff;
}

.fas.fa-bars{
    color: #b0d0cc;
    font-size: 1.5em;
}

.fas.fa-times{
    font-size: 1.5em;
    color: #b0d0cc;
}

.footer{
    padding: 30px 0;
}

.footer_parent{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}


.full_page_headline{
    padding-top: 2em;
    font-size: 2.5em;
    margin-left: 20px;
}

.header{
    display: flex;
    background-color: #252525;
    width: 100%;
    z-index: 100;
    padding: 0 10px;
    position: fixed;
}

.header__nav.hidden{
    display: none;
}

.header__button{
    z-index: 200;
}

.header__wrap{
   display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
    padding: .5em 0;
}

.header__logo{
    margin: 10px;
    height: 30px;
}

.header__nav{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
    padding-top: 150px;
    opacity: .95;
    min-height: 1000px;
    font-size: 18px;
    width: 40%;
    background-color: #252525;
}

.header__nav a{
    display: block;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: #b0d0cc;
    }

.green{
      background-color: #2A8078;
      width: 100%;
}

.home__image{
    width: 100%;
}

.desktop__header,
.mobile__header{
    text-align: center;
    line-height: 1.25em;
    padding: 1em 0 .5em 0;
    font-family: "karla";
    font-size: 2.5em

}
.mobile__header{
    margin: 0;
}

h2{
    font-family: "Karla";
    font-size: 2.25em;
}

h3{
	margin-top: 0;
	padding-top: 20px;
	font-size: 1.5em;
	font-weight: bold;
	font-family: "Karla";
}

h5{
    font-family: "Karla";
    font-size: 1.25em;
	margin: 0;
}


li{
    list-style: none;
    line-height: 1.5em;
    font-family: "Open Sans";
}

.link{
    text-decoration: none;
    color: #fff;
}

.link :

.main{
    padding: 0px 0px 50px 0px;    
    z-index: 1;
    position: relative;
}

.mobile__header{
    padding-top: 2.5em;
}

.negmargin{
    margin-top: -50px;
}

.one, .two, .three{
    padding-bottom: 20px;
}

.paw1{
    position: absolute;
    top: 165px;
    left: -10px;
    z-index: -1;
}

.paw2{
    position: absolute;
    bottom: 33px;
    right: -47px;
    z-index: -1;
}

.paw3{
    position: absolute;
    bottom: 205px;
    z-index: -1;
}

.paw4{
     position: absolute;
    bottom: 245px;
    z-index: -1;
}

.picture_parent{
padding: 30px;
}

.picture, .pictureThird{
    padding: 0;
	display: flex;
	flex-direction: column;
	width: 100%;
}


.purple,
.purpleGradient{
    background-color:#80759A;
}

.space_text{
    padding-top: 5px;
    padding-left: 20px;
}

.space_around{
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.space_between{
    display: flex;
    justify-content: space-between;
}


.space_top{
    padding-top: 1em;
}

.testimonial{
  padding: 0 25px;
  border-radius: 5px;
}

#testimonials{
    line-height: 1.5em;
    padding-bottom: 40px;
    padding-left: 0;
    margin-bottom: 0;

}

.testimonial_three{
    padding-bottom: 40px;
}

.text{
    padding-right: 20px;
}

.textleft{
    padding-left: 20px;
}

.testimonials{
    padding-left: 0;
}

.test__header{
    padding-left: 20px;
}

.text_container,
.text__container{
    padding-left: 20px;
}




